{{outlet}}

{{#if session.isAuthenticated}}
  <h1>Authenticated!</h1>
  <a {{ action 'logout' }}>Logout</a>
{{else}}

  <form class="form-validation" {{action "login" on="submit" }}>
    <div class="text-danger wrapper text-center"></div>
    <div class="list-group list-group-sm">
      <div class="list-group-item">
        {{input value=email type="email" placeholder="email" class="form-control no-border"}}
      </div>
      <div class="list-group-item">
        {{input value=password type="password" placeholder="password" class="form-control no-border"}}
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
  </form>
  <hr>
  <form class="form-validation" {{action "register" on="submit" }}>
    <div class="list-group list-group-sm">
      <div class="list-group-item">
        {{input value=registerEmail type="email" placeholder="email" class="form-control no-border"}}
      </div>
      <div class="list-group-item">
        {{input value=registerPassword type="password" placeholder="password" class="form-control no-border"}}
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Create Account</button>
  </form>
  <hr>
  {{#login-button}}Login with Google{{/login-button}}
{{/if}}
